@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Parkinsans", sans-serif;
}

body {
    background-color: rgb(12, 12, 12) !important;
}

.countdown-text {
    font-family: "Kanit", Helvetica, sans-serif !important;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .4rem;
}

#first-blur-glow {
    position: absolute;
    top: 20%;
    left: -2%;
    right: auto;
    box-shadow: 0 0 1000px 100px rgb(165, 8, 8);
}

#second-blur-glow {
    position: absolute;
    top: 75%;
    left: auto;
    right: -5%;
    box-shadow: 0 0 1000px 100px rgb(177, 10, 10);
}

#third-blur-glow {
    position: absolute;
    top: 95%;
    left: -8%;
    right: auto;
    box-shadow: 0 0 700px 100px rgb(131, 6, 6)
}

.blur-glow {
    z-index: -100;
}

.open-transition {
    animation: .8s ease-in-out startTransition;
}

.love-transition {
    color: rgb(155, 6, 6) !important;
}

.hidden {
    display: none !important;
}

@keyframes startTransition {
    from {
        opacity: 0%;
        filter: blur(2px);
        transform: translateX(-10rem);
        scale: .95;
    }

    to {
        opacity: 100%;
        filter: blur(0);
        transform: translateX(0px);
        scale: 1;
    }
}
