@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    --bg-start-color: #0B0D11;
    --bg-end-color: #11182F;

    --primary-color: #781b26;
    --primary-text-color: #F1F2EB;
    --secondary-text-color: #757780;

    --hr-colors: #AEAEAE;
}

* {
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--bg-start-color), var(--bg-end-color));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    height: 4.2rem;
    background-color: transparent;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    height: 0px;
    width: 100%;
    margin-top: 6rem;
    border: none;
    border-top: 1px solid var(--hr-colors);
}

.blur-l {
    z-index: -1;
    position: absolute;
    left: 20%;
    top: 2%;
    box-shadow: 0 0 1000px 100px var(--primary-color);
}

.blur-r {
    z-index: -1;
    position: absolute;
    right: -2%;
    top: 50%;
    box-shadow: 0 0 1000px 100px var(--primary-color);
}

.wrapper {
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-column {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-img {
    height: 45px;
    width: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 30%;
    position: relative;
}

.nav-link a {
    position: relative;
    font-weight: 500;
    padding-bottom: .3rem;
}

.nav-link a::after {
    content: "";
    position: absolute;
    width: 0px;
    left: 0;
    bottom: 0;
    height: .17rem;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.nav-link a:hover::after {
    width: 100%;
}

.hero {
    width: 100%;
    height: 30rem;
    margin-top: 12rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero-grid-container {
    height: 30rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.hero .hero-img-container {
    height: 30rem;
    display: flex;
    justify-content: flex-end;
}

.hero-title {
    height: 30rem;
    display: flex;
    margin-bottom: 0 !important;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30%;
}

.hero .top h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2rem var(--primary-color);
    font-weight: 900;
    letter-spacing: .4rem;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.hero .top h2 {
    font-weight: 300;
    text-align: left;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.hero .top h3 {
    font-weight: 300;
    text-align: right;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    padding: 0;
    margin: 0;
}

.hero .bottom p {
    font-weight: 200;
    font-size: 1.4rem;
}

.hero .bottom p a:hover {
    text-decoration: underline;
}

.hero img {
    height: 95%;
    width: auto;
    position: relative;
}

.slide {
    margin-top: 8rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.slide h2 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
}

.slide-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 !important;
}

.sliding {
    height: 35px;
    width: auto;
}

.sliding img {
    height: 100%;
    width: auto;
}

.sliding:nth-child(2) img {
    transition-delay: 200ms;
}

.sliding:nth-child(3) img {
    transition-delay: 400ms;
}

.sliding:nth-child(4) img {
    transition-delay: 600ms;
}

.sliding:nth-child(5) img {
    transition-delay: 800ms;
}

.sliding:nth-child(6) img {
    transition-delay: 1000ms;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-80%);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none !important;
    }
} 

@media (width < 900px) {
    .wrapper {
        width: 75%;
    }

    .hero {
        margin-top: 1rem;
        height: 80rem;
    }

    .hero p {
        margin-top: -5rem;
    }

    .nav-links {
        display: none;
    }

    .hero img {
        width: auto;
        height: 85%;
    }

    .hero p {
        margin-top: -14rem;
    }

    .hero .hero-img-container {
        margin-top: -8rem !important;
        justify-content: center;
    }

    .hero .hero-grid-container {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        margin-bottom: -10rem;
    }

    .hero hr {
        margin-top: -3rem;
    }

    .slide {
        margin-top: 0rem;
    }

    .slide h2 {
        text-align: center;
    }

    .slide-list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .sliding {
        padding: 1rem 0;
    }
}

@media (width < 768px) {
    .wrapper {
        width: 85%;
    }
}

@media (width < 500px) {
    .hero h1 {
        font-size: 15vw !important;
    }

    .hero .top h2, .hero .top h3 {
        text-align: center !important;
    }

    .hero .bottom {
        display: flex !important;
        justify-content: center !important;
    }

    .hero p {
        width: 70% !important;
        font-size: 4.2vw !important;
        text-align: center !important;
    }
}